.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}
.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}
.slider .social-icon a {
  margin: 0 3px;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.block-sec .vid-area {
  z-index: 99;
}
.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}
section.testimonials {
  overflow: hidden;
}
.contact-page .pages-header {
    overflow: hidden;
}
div#ieatmaps iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
button.nb {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

button.nb:hover {
  background: #fff;
  color: #222;
}
.replay {
  cursor: pointer;
}

.pace-done #preloader:after {
  bottom: 0;
}
#preloader {
      top: 0;
    left: 0;;
}

.pace-done #preloader {
  visibility: hidden;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.pace-done #preloader:after,
.pace-done #preloader:before {
  height: 0;
  -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -o-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
body.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
body.hideX .pace {
  display: none !important;
  background-color: transparent;
}
.app-footer .social a {
  margin-right: 4px;
}

button {
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer !important;
}
.margin-top-bottom-60 {
  margin: 60px 0px;
}
.height-700 {
  height: 700px !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for the desired level of darkness */
  pointer-events: none; /* Allows clicks to pass through the overlay to the video */
}
.display-flex-block {
  display: flex !important;
}
@media (max-width: 576px) {
  .display-flex-block {
    display: block !important;
  }
  li.agility::before,li.knowledge::before,li.dedication::before  {
    content: "";
    width: 300px;
    height: 50px;
    top: -20px;
    left: 15%;
  }
}

li.agility::before {
  content: "";
  width: 500px;
  height: 75px;
  background-image: url(../../public//img/about-us/AGILITY.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: 15%;
}
li.knowledge::before {
  content: "";
  width: 500px;
  height: 75px;
  background-image: url(../../public//img/about-us/KNOWLEDGE.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: 15%;
}
li.dedication::before {
  content: "";
  width: 500px;
  height: 75px;
  background-image: url(../../public//img/about-us/DEDICATION.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: 15%;
}

.about-background-image {
  background-image: url(../../public//img/about-us/about-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.about-background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity here */
  z-index: 1; /* Ensure the overlay appears above the background image */
  pointer-events: none; /* Allow clicks to pass through the overlay to content below */
}

.text {
  position: relative; /* Ensure text appears above the overlay */
  z-index: 2; /* Make sure the text is above the overlay */
}

.height-36 {
  height: 36rem;
}
.text-white {
  color: whitesmoke !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.hr-color-footer {
  border-color: #7e7e7e;
}
.footer-link-style {
  color: deepskyblue;
  transition: transform 0.2s ease; /* Add a smooth transition effect */
}

.footer-link-style:hover {
  color: rgb(0, 81, 255);
  text-decoration: underline;
  transform: scale(1.03); /* Scale the link by 5% on hover */
}