.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}
.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}
.slider .social-icon a {
  margin: 0 3px;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.block-sec .vid-area {
  z-index: 99;
}
.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}
section.testimonials {
  overflow: hidden;
}
.contact-page .pages-header {
    overflow: hidden;
}
div#ieatmaps iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
button.nb {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

button.nb:hover {
  background: #fff;
  color: #222;
}
.replay {
  cursor: pointer;
}

.pace-done #preloader:after {
  bottom: 0;
}
#preloader {
      top: 0;
    left: 0;;
}

.pace-done #preloader {
  visibility: hidden;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.pace-done #preloader:after,
.pace-done #preloader:before {
  height: 0;
  -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -o-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
body.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
body.hideX .pace {
  display: none !important;
  background-color: transparent;
}
.app-footer .social a {
  margin-right: 4px;
}

button {
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer !important;
}
.margin-top-bottom-60 {
  margin: 60px 0px;
}
.height-700 {
  height: 700px !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for the desired level of darkness */
  pointer-events: none; /* Allows clicks to pass through the overlay to the video */
}
.display-flex-block {
  display: flex !important;
}
@media (max-width: 576px) {
  .display-flex-block {
    display: block !important;
  }
  li.agility::before,li.knowledge::before,li.dedication::before  {
    content: "";
    width: 300px;
    height: 50px;
    top: -20px;
    left: 15%;
  }
}

li.agility::before {
  content: "";
  width: 500px;
  height: 75px;
  background-image: url(../../public//img/about-us/AGILITY.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: 15%;
}
li.knowledge::before {
  content: "";
  width: 500px;
  height: 75px;
  background-image: url(../../public//img/about-us/KNOWLEDGE.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: 15%;
}
li.dedication::before {
  content: "";
  width: 500px;
  height: 75px;
  background-image: url(../../public//img/about-us/DEDICATION.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: 15%;
}

.about-background-image {
  background-image: url(../../public//img/about-us/about-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.about-background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity here */
  z-index: 1; /* Ensure the overlay appears above the background image */
  pointer-events: none; /* Allow clicks to pass through the overlay to content below */
}

.text {
  position: relative; /* Ensure text appears above the overlay */
  z-index: 2; /* Make sure the text is above the overlay */
}

.height-36 {
  height: 36rem;
}
.height-28 {
  height: 28rem;
}
.text-white {
  color: whitesmoke !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.hr-color-footer {
  border-color: #7e7e7e;
}
.footer-link-style {
  color: deepskyblue;
  transition: transform 0.2s ease; /* Add a smooth transition effect */
}

.footer-link-style:hover {
  color: rgb(0, 81, 255);
  text-decoration: underline;
  transform: scale(1.03); /* Scale the link by 5% on hover */
}

.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 90vh; 
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #fbfbfb;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color:  #111;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #525252;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box input.password {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #525252;
  margin-bottom: 0px !important;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
// .login-box .user-box label {
//   position: absolute;
//   top:0;
//   left: 0;
//   padding: 10px 0;
//   font-size: 16px;
//   color: #525252;
//   pointer-events: none;
//   transition: .5s;
// }
// .login-box .user-box span.password-toggle {
//   position: absolute;
//   top:0;
//   left: 90%;
//   padding: 10px 0;
//   cursor: pointer;
//   font-size: 20px;
//   color: #2c2c2c;
// }
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #525252;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box span.password-toggle {
  position: absolute;
  top: 0;
  right: 5px; /* Change left to right to position it to the right */
  padding: 10px 0;
  cursor: pointer;
  font-size: 20px;
  color: #2c2c2c;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -30px;
  left: 0;
  color: #03e9f4;
  font-size: 14px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  padding-bottom: 0rem !important;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 28px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation-navbar {
  display: inline-block;
  position: relative;
  padding-bottom: 0rem !important;
}

.hover-underline-animation-navbar:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 35px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation-navbar:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar .navbar-nav .nav-link-contect-auth {
  color:  #111 !important;
}
.mb-60 {
  margin-bottom: 60px;
}
// .logo-width {
//   width: 25% !important;
// }